.bloop
.history
.idea
.metals
target
project/target
shot
logs
Dataset/*
lib/opencv-342.jar
lib/opencv_java342.dll
lib/opencv_ffmpeg342_64.dll
video.mp4
ReplayDetector.jar
frame
preprocess
video*
*.mp4
*.mp4.part
eval_data/*
*.zip
